@model WebsiteProject.Models.Cameras

@{
    ViewBag.Title = "View";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="form-horizontal" style="max-width: 65%; margin: 0 auto; background-color: white; text-align:center">
    <h4>Edit Camera</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.id)

    <div class="form-group">
        @Html.LabelFor(model => model.camera_model, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.camera_model, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.camera_model, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.resolution, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.resolution, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.resolution, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.camera_type, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.camera_type, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.camera_type, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.image, htmlAttributes: new { @class = "control-label col-md-2" })
        <p>
            <input type="file" id="fileUpload" name="fileUpload" size="23" />
        </p>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Save" class="btn btn-primary" />
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
